.aboutGalle-main {
  display: flex;
  justify-content: center;
margin-bottom: 50px;}

.aboutGalle-conatiner {
  height: 400px;
  width: 80%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0.2, 0.2, 0.2, 0.2);
  border-radius: 10px;
  transition: box-shadow 0.3s ease, transform 0.4s ease; /* Add transition for box-shadow and transform */

}

.aboutGalle-conatiner:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.4);
  transform: scale(1.05);

}

.aboutGalle-header {
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  margin-bottom: 20px;
}

.aboutGalle-mid {
  display: flex;
}

.aboutGalle-mid-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutGalleimg {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-top: 20px;
  /* margin-right: 25px; */
  width: 70vh;
}

.aboutGalle-mid-right {
  margin-right: 20px;
  margin-left: 20px;
}

.aboutGalle-first-prg {
  font-size: 20px;
  margin-left: 30px;
}

.aboutGalle-second-prg {
  margin-top: 10px;
  margin-left: 30px;
}

.aboutGallebtn {
  width: 15%;
  margin-left: 30px;
  font-size: 14px;
}