* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-main {
  background-color: aliceblue;
  height: 100%;

}

.home-img {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  height: 75vh;
  background-image: url(../../assets/images/IMG_5498.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  position: relative;
}

.home-img:hover {
  height: 75vh;
  background-image: url(../../assets/images/IMG_5498.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* filter: brightness(0.5); */
  /* opacity:0.2; */
}

.hover-button {
  /* display: none; */
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  z-index: 5;
  transition: 0.6s;
  background-color: rgb(255, 255, 255);
  width: 300px;
  /* opacity: 10; */
}

.home-img:hover .hover-button {
  display: block;
  transition: 0.6s;
}

.hover-button:hover {
background-color: rgb(255, 255, 255);
filter: none;
}

.img-con h1 {
  font-size: 45px;
  color: white;
  font-weight: 700;
}

.img-con h2 {
  font-size: 20px;
  color: white;
}

.img-con-second {
  display: flex;
  justify-content: center;
}

.home-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3.5%;
  height: 20%;
  position: relative;
  z-index: 1; /* Ensure this is above the home-img */
}

.home-contain-imputs {
  background-color: rgb(255, 255, 255);
  width: 68%;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-inputs-con {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
}

.home-inputs {
  display: flex;
  flex-direction: column;
}

.home-inputs input {
  height: 40px;
  width: 250px;
  border-radius: 7px;
  border: 1px solid rgb(212, 212, 212);
  padding: 5px;
}

.home-inputs label {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 3px;
}

.home-inputs-but {
  margin-top: 15px;
  height: 40px;
  width: 200px;
  margin-top: 2%;
}

.Aboutus-con-main {
  margin-top: 80px;
}

.chatbotIcon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: black;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;

}

