.App {
    display: flex;
    flex-direction: row;
  }
  
  .form-container {
    flex: 1;
    margin-right: 20px; /* Adjust margin as needed */
  }
  
  .map-container {
    flex: 2;
  }
  
  .recommendations-container {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-height: 400px; /* Set max height for scroll if needed */
    overflow-y: auto; /* Enable vertical scroll if content exceeds max height */
  }
  
  .recommendation-item {
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .recommendation-item.selected {
    font-weight: bold;
  }
  